@font-face {
    font-family:'Wakul Kebah';
    src: url('Wakul Kebah.eot');
    src: url('Wakul Kebah.eot?#iefix') format('embedded-opentype'),
         url('Wakul Kebah.woff2') format('woff2'),
         url('Wakul Kebah.woff') format('woff'),
         url('Wakul Kebah.ttf') format('truetype'),
         url('Wakul Kebah.svg#Wakul Kebahregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 2.0;
}